#first
{
	background-color: lightblue;
	height: 50px;
	color: black;
}

a
{
	text-decoration-line: none;
	color: black;
	font-size: 13px;
}

.column {
  
  width: 115%;
  
  height: 300px; /* Should be removed. Only for demonstration */
}

iframe
{
	width: 90%;
	height: 190px;
	margin-left: 20px;
}

#aa
{
	font-size: 30px;
}

#ab
{
	font-size: 30px;
	
}

.not
{
	width: 115%;
}

#another
{
	margin-left: 20px;
	width: 90%;
	height: 190px;
}

#ac
{
	font-size: 30px;
}
